@import url("../css/nullstyle.css");

:root {
  --font-size: 1rem;
  --first-color: #7fa99b;
  --second-color: #fbf2d5;
  --third-color: #fdc57b;
  --box-shadow-main: 12px 14px 32px -6px rgba(0, 0, 0, 0.81);
  -webkit-box-shadow: 12px 14px 32px -6px rgba(0, 0, 0, 0.81);
  -moz-box-shadow: 12px 14px 32px -6px rgba(0, 0, 0, 0.81);
  --box-shadow-sm: 3px 3px 5px -2px rgba(0, 0, 0, 0.79);
  -webkit-box-shadow: 3px 3px 5px -2px rgba(0, 0, 0, 0.79);
  -moz-box-shadow: 3px 3px 5px -2px rgba(0, 0, 0, 0.79);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: var(--font-size);
  line-height: 1.2;
  font-weight: normal;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  background: var(--first-color);
}

._container {
  margin: 0 auto;
  /* background-color: lavender; */
  padding: 0 15px;
}

section {
  margin-top: 5vw;
}

section:last-child {
  margin-bottom: 5vw;
}

/* ------HEADER------- */

.header {
  background: var(--third-color);
}
.header__container {
  display: flex;
  position: relative;
  height: 90px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 900px;
  margin: 0 auto;
  /* background-color: lightseagreen; */
}

.header__name {
  font-weight: 700;
  font-size: 1.9rem;
  letter-spacing: 0.1rem;
}

.header__menu {
  margin-left: 10px;
}

.menu {
  line-height: 2em;
}
.menu__list {
  display: flex;
  gap: 1rem;
  list-style-type: none;
}
.menu__item {
  padding: 5px;
}
.menu__link {
  display: inline-block;
  color: black;
  text-decoration: none;
}

.menu__item:hover {
  background: var(--second-color);
  /* background: red; */
  box-shadow: var(--box-shadow-sm);
}

/* -----HAMBURGER MENU------- */

.header__hamburger {
  display: none;
  background-color: transparent;
  border: 0;
  color: black;
  font-size: 30px;
  cursor: pointer;
}

.header__hamburger.show {
  display: none;
  background-color: transparent;
  border: 0;
  color: black;
  font-size: 30px;
  cursor: pointer;
}

.header__hamburger:focus {
  outline: none;
}

/*---------MAIN---------*/
.ceo-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.main__container {
  margin: 0 auto;
  max-width: 900px;
  /* background-color: lightcoral; */
  /* height: 1500px; */
}

/* --------About Me--------- */

.main__container i {
  margin-right: 2rem;
  width: 16px;
  font-size: 1.5rem;
}

.main__about-me .section-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.about__me-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 250px;
  /* margin-bottom: 0.6rem; */
  background: var(--second-color);
  padding: 10px 0;
  border-radius: 10px;
  box-shadow: var(--box-shadow-main);
}

.about__me-card > * + * {
  margin-top: 0.6rem;
}

.card__photo {
}

.card__photo > img {
  display: block;
  margin: 0 auto;
  width: 80%;
  border-radius: 10px;
}

h2 {
  font-weight: 500;
  font-size: 1.5em;
  text-shadow: 4px 2px 1px rgba(0, 0, 0, 0.1);
}

h3 {
  font-weight: 400;
  font-size: 1.3em;
}

.card__name {
  font-weight: 700;
}
.card__job {
  font-size: 1.3em;
}
.card__contacts {
}

.card__contacts i {
  margin-right: 1rem;
  width: 16px;
}

.about__me-summary {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* margin-top: 1.5rem; */
  margin-left: 1.5rem;
  padding: 10px;
  background: var(--second-color);
  border-radius: 10px;
  box-shadow: var(--box-shadow-main);
}

.about__me-summary > * + * {
  margin-top: 0.6rem;
}

.about__me-summary p {
  text-align: justify;
}

.about__me-qualifications {
  /* display: grid;
  grid-template-columns: 1fr 1fr ; */
  display: flex;
  flex-direction: row;
}

.about__me-qualifications div {
  padding: 0 0.3rem 0 0.3rem;
}

.about__me-qualifications div ul {
  margin-top: 0.5rem;
}

/* blockquote */

.about_me-fav-quote {
}

blockquote {
  display: block;
  background: #fff;
  padding: 15px 20px 15px 45px;
  margin: 10px 0 20px;
  position: relative;

  font-family: Georgia, serif;
  /* font-size: 16px; */
  line-height: 1.2;
  color: rgb(0, 0, 0);
  text-align: justify;

  border-left: 15px solid #c76c0c;
  border-right: 2px solid #c76c0c;
  box-shadow: var(--box-shadow-sm);
}

blockquote::before {
  content: "\201C"; /*Unicode for Left Double Quote*/
  font-family: Georgia, serif;
  font-size: 60px;
  font-weight: bold;
  color: #999;
  position: absolute;
  left: 10px;
  top: 5px;
}

blockquote::after {
  content: "";
}

blockquote a {
  text-decoration: none;
  background: #eee;
  cursor: pointer;
  padding: 0 3px;
  color: var(--third-color);
}
/* -----IT Experience----- */

.main__it-experience {
}
.main__it-experience h2 {
  margin-bottom: 0.6rem;
}

.section-container {
}

.it-experience > * + * {
  /* margin-top: 2rem; */
}

.it-experience {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
}

.it-experience__tech-skills > * + * {
  margin-top: 0.6rem;
}

.it-experience__tech-skills {
  min-width: 20%;
  background: var(--second-color);
  padding: 0.6em;
  border-radius: 10px;
  box-shadow: var(--box-shadow-main);
}

.it-experience__tech-skills ul {
  margin: 0.6em;
}

.it-experience__tech-skills ul > * + * {
  margin-top: 0.6em;
}

.it-experience__code-example > * + * {
  margin-top: 1rem;
}

.it-experience__code-example {
  width: auto;
  background: var(--second-color);
  padding: 0.6em;
  border-radius: 10px;
  box-shadow: var(--box-shadow-main);
}

.it-experience__code-example .code {
  /* display: block; */
  /* margin: 0 auto; */
  margin: 0.5em;
  background: var(--third-color);
  /* padding: .5em; */
}

code,
pre,
pre code {
  white-space: pre-wrap;
  word-break: break-all;
  border-radius: 4px;
}

.it-experience__my-projects {
  margin-top: 2em;
}

/* - my projects - */

.projects > * + * {
  margin-left: 1.5rem;
}

.my-projects {
  background-color: var(--second-color);
  max-width: 100%;
  border-radius: 10px;
  padding: 0.6em;
  box-shadow: var(--box-shadow-main);
}

h4 {
  margin-top: 1em;
  font-weight: 500;
}

.it-experience__my-projects .projects > * + * {
  margin-top: 1rem;
}

.it-experience__my-projects .projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: baseline;
  min-width: 720px;
}

/* - slider - */

.it-experience__my-projects .slider {
  width: 300px;
}

.it-experience__my-projects .slider-image {
  max-width: 100%;
  background-color: azure;
  background-size: cover;
}

.slider-image {
  border-radius: 4px;
  overflow: hidden;
}

.slider-image img {
  /* width: 100%; */
  height: 200px;
  background-size: contain;
}

/* -museum- */

.it-experience__my-projects .museum {
  width: 300px;
  /* max-height: 150px; */
}

.it-experience__my-projects .museum-image {
  max-width: 100%;
  /* background-color: azure; */
  background-size: cover;
}

.museum-image {
  border-radius: 4px;
  overflow: hidden;
}

.museum-image img {
  /* min-height: 200px; */
  /* width: 130%; */
  height: 200px;
  background-size: contain;
}

/* -------- Previous work experience ------- */

.main__previous-work h2 {
  margin-bottom: 0.6rem;
}

.main__previous-work {
}
.section-container {
}

.previous-work > * + * {
  margin-top: 1rem;
}
.previous-work {
  margin: 0 auto;
  background: var(--second-color);
  max-width: 736px;
  border-radius: 10px;
  padding: 0.6em;
  box-shadow: var(--box-shadow-main);
}

.previous-work ul li {
  line-height: 2em;
  list-style-type: circle;
  margin-left: 15px;
}

/* -------Higher Education -------- */

.main__education {
}

.main__education h2 {
  margin-bottom: 0.6rem;
}

.section-container {
}

.education {
  margin: 0 auto;
  background: var(--second-color);
  max-width: 736px;
  border-radius: 10px;
  padding: 0.6em;
  box-shadow: var(--box-shadow-main);
}

.education > * + * {
  margin-top: 1rem;
}
.education ul li {
  line-height: 2em;
  list-style-type: circle;
  margin-left: 15px;
}

/* -------Languages ------ */

.main__languages {
}
.main__languages h2 {
  margin-bottom: 0.6rem;
}

.section-container {
}

.languages {
  margin: 0 auto;
  background: var(--second-color);
  max-width: 736px;
  border-radius: 10px;
  padding: 0.6em;
  box-shadow: var(--box-shadow-main);
}

.languages > * + * {
  margin-top: 1rem;
}

.languages ul li {
  line-height: 2em;
  list-style-type: circle;
  margin-left: 15px;
}

/* --------Self - Intro ------- */

.main__video-intro h2 {
  margin-bottom: 0.6rem;
}

.video-intro {
  border-radius: 0.8rem;
  overflow: hidden;
  max-width: 736px;
  margin: 0 auto;
  box-shadow: var(--box-shadow-main);
}

.main__video-intro .video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
}

.main__video-intro .video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* ------- Footer ------- */

footer {
  /* height: 50px; */
  /* text-align: center; */
  padding: 10px 0;
  background: var(--third-color);
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .github {
  margin-left: 10px;
}

footer a {
  text-decoration: none;
  color: #2b2741;
}

footer a i {
  margin-right: 0.5em;
}

footer img {
  display: block;
  height: 50px;
  width: 50px;
  background-size: contain;
}

footer .rss-logo {
  margin-right: 10px;
}

/* ------@media-------- */

@media screen and (max-width: 800px) {
  /* ----@m Header----- */
  .header__container {
  }
  .header__menu {
    display: none;
    position: absolute;
    /* width: 100%; */
    /* top: 10000px; */
  }

  .header__menu.show {
    display: block;
    /* position: relative; */
    /* margin: 0 0 0 calc(55%); */
    top: 70px;
    right: 5vw;
  }

  .menu__list {
  }

  .menu__list.show {
    display: flex;
    flex-direction: column;
    background-color: bisque;
    opacity: 0.9;
    padding: 20px;
    width: 150px;
    border-radius: 5px;
  }

  .header__hamburger {
    display: block;
  }

  /* -------@m About me------------- */
  .main__about-me .section-container > * + * {
    margin-top: 1.5rem;
  }

  .main__about-me .section-container {
    flex-direction: column;
    align-items: center;
  }

  /* ------@m it-experience */

  .it-experience > * + * {
    margin-top: 1rem;
  }

  /* ---------@m my projects ------- */

  .it-experience__my-projects .projects {
    margin-top: 1rem;
  }

  .it-experience__my-projects .projects {
    flex-wrap: wrap;
    align-content: center;
    /* min-width: auto; */
    min-width: 100%;
  }
}

@media screen and (min-width: 770px) {
  .header__container {
  }
}

/* Technical skills block resize  */
@media screen and (max-width: 600px) {
  .it-experience__tech-skills,
  .it-experience__code-example {
    min-width: 100%;
  }
}
