@import url("../css/nullstyle.css");

:root {
  --font-size: 1rem;
}

html {
  scroll-behavior: smooth;
}

body {
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-size: var(--font-size);
	line-height: 1.2;
	font-weight: normal;
}

.wrapper {
  min-height: 100%;
  /* min-width: 320px; */
  overflow: hidden;
  background-color: grey;
}

._container {
  margin: 0 auto;
  /* background-color: lavender; */
  padding: 0 15px;
}


/* ------HEADER------- */

.header {
  width: 100vw;
}
.header__container {
  display: flex;
  position: relative;
  min-height: 90px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.header__name {
font-weight: 700;
font-size: 1.5rem;
letter-spacing: 0.1rem;

}

.header__menu {
  margin-left: 10px;
}

.menu {

}
.menu__list {
  display: flex;
  gap: 10px;
  list-style-type: none;

}
.menu__item {

}
.menu__link {
  display: inline-block;
  color: black;
	text-decoration: none;
}

.menu__link:hover {
  background-color: khaki;
}

/* -----HAMBURGER MENU------- */

.header__hamburger {
  display: none;
  background-color: transparent;
  border: 0;
  color: black;
  font-size: 30px;
  cursor: pointer;
}

.header__hamburger:focus {
  outline: none;
}

/*---------MAIN---------*/
.ceo-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

/* ------@media-------- */

@media screen and (max-width: 730px) {
  .header__container {
  }
  .header__menu {
    display: none;
    position: absolute;
    width: 100%;
    top: 10000px;
  }

  .header__menu.show {
    display: block;
    top: 70px;
    right: calc(-75vw);
  }
  
  .menu__list {
  }
  
  .menu__list.show {
    display: flex;
    position: inherit;
    flex-direction: column;
  }

  .header__hamburger {
    display: block;
  }
}

@media screen and (min-width: 750px) {
  .header__container {
    max-width: 900px;
    margin: 0 auto;
  }
}